<div class="chat-card item" data-item-id="{{id}}" data-owner-id="{{ownerId}}">
  <div class="card-content">
    {{#ifEquals item.type "skill"}}
      {{> "madness.chat.skill-card" item=item}}
    {{/ifEquals}}
  </div>
  <div class="card-buttons">
    <button class="attack item-crit">{{localize "madness.chat.actions.critical"}}</button>
    <button class="attack item-attack">{{localize "madness.chat.actions.attack"}}</button>
  </div>
</div>