<div class="chat-card skill" data-item-id="{{id}}" data-owner-id="{{ownerId}}">
  <div class="card-content">
    <p>{{localize "madness.chat.actorUseItem" actorName=owner.name itemName=name}}</p>
  </div>
  <div class="card-buttons">
    <button class="attack skill-attack">{{localize "madness.chat.actions.attack"}}</button>
  </div>
</div>