<div class="task-check {{#if isAttack}}attack{{/if}}">
  {{#if isAttack}}
    {{> 'systems/madness/templates/partials/attack-check.hbs' item=item}}
  {{/if}}
  {{#if isStatCheck}}
    {{> 'systems/madness/templates/partials/stat-check.hbs' statName=statName}}
  {{/if}}
  <div>
    {{roll.total}}
  </div>
</div>