<form class="{{cssClass}}" autocomplete="off">
  {{#if (or user.isGM item.actor.isOwner)}}
    {{> 'systems/madness/templates/partials/skill-sheet-editable.hbs' item=item}}
  {{else}}
    {{> 'systems/madness/templates/partials/skill-sheet-readonly.hbs' item=item}}
  {{/if}}
  
</form>