<div class="item-list">
  <h4>{{localize "madness.character.equipments" }}</h3>
    {{#each equipments as |equipment id|}}
      {{> "madness.characters.equipment" equipment=equipment}}
    {{/each}}
</div>